<h1>Login</h1>

<div class="form-container">
  <%= form_with model: @user, url: login_path, local: true do |f| %>
    <%= f.text_field :nickname, placeholder: 'Nickname' %>
    <%= errors_display(@user, :nickname) %>
    <%= f.select :status, ['Available', 'Busy', 'Away'], prompt: 'Select a status' %>
    <%= errors_display(@user, :status) %>
    <%= f.submit 'Start chatting' %>
  <% end %>
</div>
