<div class="navbar">
  <% if @current_user %>
    <div>
      <p>Welcome <%= @current_user.nickname %></p>
      <%= form_with model: @current_user do |f| %>
        <%= f.select :status, ['Available', 'Busy', 'Away'] %>
        <%= f.submit 'Update status' %>
      <% end %>
    </div>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% end %>
  <div class='app-title'>
    <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path %>
    <h2>CoinChat</h2>
  </div>
</div>
